.listinfo {
  padding: 3rem;
}
.listinfo__list {
  justify-content: baseline;
  position: relative;
  list-style-type: none;
  display: block;
  text-align: start;
}
.listinfo__list li::before {
  font-family: "bootstrap-icons";
  content: "\f269";
  margin-right: 0.5rem;
}
.listinfo__appointment {
  justify-content: baseline;
  position: relative;
  list-style-type: none;
  display: block;
  text-align: start;
}
.listinfo__appointment li::before {
  font-family: "bootstrap-icons";
  content: "\f280";
  margin-right: 0.5rem;
}
.listinfo__branches {
  justify-content: baseline;
  position: relative;
  list-style-type: none;
  display: block;
  text-align: start;
}
.listinfo__branches li::before {
  font-family: "bootstrap-icons";
  content: "\f270";
  margin-right: 0.5rem;
}

.contact-top {
  position: relative;
  background-color: #e9ecef;
}
.contact-top i {
  color: #212529;
  font-weight: 600;
}

.navbar {
  color: #212529;
  background: #3CE2f9;
  padding: 1rem 0 !important;
}
.navbar .navbar-brand {
  color: #212529;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar li {
  padding: 0 0.6rem;
  color: #212529;
}
.navbar li a {
  text-decoration: none;
  transition: all 0.3s;
  font-size: 1rem;
  line-height: 1.2rem;
  text-transform: capitalize;
  animation: moveInBottom 0.5s ease-out 0.5s;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  color: #212529 !important;
}
.navbar li a:hover {
  color: #fff !important;
  transform: translateY(8px);
  transition: all 0.3s;
  border: 1px solid #fff;
  padding: 0.5rem;
}

.navigation-tabs {
  text-transform: capitalize;
  text-align: center;
}
.navigation-tabs:link, .navigation-tabs:visited, .navigation-tabs:active {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.hero {
  position: relative;
  background-color: #B9F7F9;
  height: 100%;
  margin-bottom: 2rem;
  padding-bottom: 0rem;
}
.hero .doc-image {
  width: 100%;
  height: 100%;
}
.hero .doc-image img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
@media (min-width: 768px) {
  .hero .doc-image img {
    width: 100%;
    height: 35rem;
  }
}
.hero .doc-image img:hover {
  transform: scale(1.02);
  transition-duration: 1s;
  transition-property: all;
}
.hero .introduction {
  position: relative;
  background-color: rgba(60, 226, 249, 0.7);
  margin-top: 4rem;
  border-radius: 0.375rem;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .hero .introduction {
    margin-top: 8rem;
    margin-bottom: 2rem;
  }
}
.hero .doctors-intro {
  width: 100%;
  height: 18rem;
}
.hero .doctors-intro img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
}
.hero .doctors-intro img:hover {
  transform: scale(1.02);
  transition-duration: 1s;
  transition-property: all;
}
.hero .date-with-doc {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .hero .date-with-doc {
    margin-top: 6rem;
  }
}
.hero .date-with-doc a {
  margin-bottom: 6rem;
}
.hero .date-with-doc button {
  font-weight: 600;
}
.hero .date-with-doc :is(h3, h4, h5) {
  font-weight: 600;
}

.hero-ntop {
  position: relative;
  margin-top: -8rem;
  padding: 2rem 0;
}
.hero-ntop .bg-gray {
  background-color: #e9ecef;
  border-radius: 0.8rem;
}
.hero-ntop .content {
  position: relative;
  padding: 2rem 0;
  border-radius: 1rem;
  align-items: center;
}
.hero-ntop .content :is(h4, h5, h6) {
  color: #212529;
  font-weight: 600;
}
.hero-ntop .content i {
  color: #212529;
}

/*-----------------------------------------------------------------------------
                  THE HOME PAGE SECTION [Including Nav and Menu section ]               
-----------------------------------------------------------------------------------
**/
.header {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #3ce2f9, #dc3545), url("/images/bg/muriungi.dev-homepage-intro.svg");
  background-size: cover;
  background-position: center;
  padding: 2rem 0 2rem 0;
}
.header__navigation-header {
  padding: 1rem 0;
  margin-bottom: 1.8rem;
  width: 100%;
  z-index: 100;
}
.header__header-info {
  margin-top: 5rem;
  -webkit-box-shadow: 1px 2px 8px 0px rgba(206, 212, 218, 0.5);
  box-shadow: 1px 2px 8px 0px rgba(206, 212, 218, 0.5);
}
.header p {
  color: #fff;
}

.section-1 {
  background: linear-gradient(to right, rgba(60, 226, 249, 0.9), rgba(60, 226, 249, 0.9)), url("/images/about-2.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top top;
  padding-top: 8rem;
}

/**------------------------------------------------------------------------
                                NAVBAR STYLES 
--------------------------------------------------------------------------**/
.navbar {
  position: sticky;
}
.navbar__navbar-brand {
  height: auto;
  filter: brightness(50);
}
.navbar__navbar-brand:hover {
  animation-duration: 4s;
  filter: grayscale(120);
}
.navbar__nav-item {
  text-transform: capitalize;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.navbar__nav-item a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 1rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  animation: moveInBottom 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
}
.navbar__nav-item a:hover {
  color: #fff;
  transform: translateX(1px);
  transition: all 0.3s;
}
.navbar:link, .navbar:visited, .navbar:active {
  color: #3CE2f9;
  text-decoration: none;
  transition: all 0.3s;
}

.section-1 {
  background-color: none;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top top;
}

.section-2 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 0 2rem 0;
  margin-bottom: 1rem;
}

.section-3 {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.section-4 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.section-5 {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.section-6 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.section-7 {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.section-8 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

/**--------------------------------------------------------------------
                          Home Styles
----------------------------------------------------------------------
**/
.what-we-do {
  background: #fff;
}

.intros {
  position: relative;
}
.intros .video-wrapper {
  position: relative;
}
.intros .video-wrapper .iconbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intros .video-wrapper .iconbox i {
  color: #B9F7F9;
  font-size: 5rem;
}
.intros .video-wrapper .iconbox i:hover {
  color: #fff;
}
.intros .video-wrapper img {
  max-width: 100%;
}

.border-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0.8rem;
  border-style: solid;
  border-radius: 100%;
  animation: pulse-border 3s linear 0s infinite;
  animation-play-state: running;
  opacity: 0;
  z-index: 9;
}

.border-2 {
  animation-delay: 1s;
}

.campanies {
  padding: 0 0 5rem 0;
}
.campanies__campany-img {
  max-width: 100%;
  padding: 0.5rem;
  height: 3rem;
  margin-bottom: 2rem;
  position: relative;
}
.campanies__campany-img img {
  text-align: center;
  height: 100%;
}
.campanies__campany-img img:hover {
  filter: grayscale(200%);
}

/**--------------------------------------------------------------------------------------
                            THE SERVICES PAGE SECTION
---------------------------------------------------------------------------------------------
**/
.services {
  background-color: #f8f9fa;
  margin-top: 2rem;
}

.studies {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.2rem;
}
.studies span {
  position: absolute;
  overflow: hidden;
}
.studies a {
  text-decoration: none;
}
.studies img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.studies img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.studies :is(h3, h4, h5) {
  color: #3CE2f9;
  text-transform: capitalize;
}
.studies .card-footer {
  background-color: #3CE2f9;
}
.studies .card-footer small {
  color: #fff !important;
}
.studies .card-footer small i {
  color: #fff;
}

.nav-tabs {
  border: none;
  color: #fff;
  border-radius: 0;
}
.nav-tabs .nav-item {
  font-weight: 600;
  text-transform: uppercase !important;
}
.nav-tabs .nav-item .nav-link {
  color: #495057;
}
.nav-tabs .active {
  border: 2px solid #3CE2f9 !important;
  padding: 18px 25px;
  color: #fff;
  background: #3CE2f9 !important;
  border-radius: 0;
}
.nav-tabs .active::after {
  content: "";
  position: relative;
  bottom: -60px;
  left: -40%;
  border: 15px solid transparent;
  border-top-color: #3CE2f9;
}
.nav-tabs .active a:hover {
  background-color: #3CE2f9;
  color: #fff;
}

.tab-content {
  background: #fff;
  line-height: 25px;
  border: 1px solid #B9F7F9;
  border-top: 5px solid #3CE2f9;
  border-bottom: 5px solid #3CE2f9;
  padding: 1.875rem 1.5625rem;
}

.doctor {
  position: relative;
  height: 19rem;
  background-color: #ced4da;
  overflow-y: hidden;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}
.doctor :is(h3, h4, h5) {
  margin: 0;
  display: block;
  background-color: #3CE2f9;
  padding: 1rem;
}
.doctor a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.doctor a:hover ~ .doctor__overlay, .doctor a:focus ~ .doctor__overlay {
  transform: translate3d(0, 0, 0);
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.doctor__overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 50%;
  transition: transform 300ms;
  background-color: rgba(60, 226, 249, 0.5);
  transform: translate3d(0, calc(100% - 3.5rem), 0);
}

.doctor__body {
  padding: 1rem;
}
.doctor__body p {
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
}

.awards {
  position: relative;
  height: 100%;
  background-color: #ced4da;
  overflow-y: hidden;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}
.awards a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.awards a:hover ~ .awards__overlay, .awards a:focus ~ .awards__overlay {
  transform: translate3d(0, 0, 0);
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.awards__overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 40%;
  transition: transform 300ms;
  background-color: rgba(60, 226, 249, 0.5);
  transform: translate3d(0, calc(100% - 3.5rem), 0);
}

.awards__body {
  padding: 1rem;
}
.awards__body p {
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
}

.features-2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/**--------------------------------------------------------
                 VIDEO SECTION STYLES
--------------------------------------------------------------
**/
.services-showcase {
  padding: 7.5rem 0;
  background: #fff;
}

.showcase-wrapper {
  height: auto;
  overflow: hidden;
  width: 100%;
}
.showcase-wrapper img {
  object-fit: cover;
  max-width: 100%;
  vertical-align: middle;
  height: 100%;
}
.showcase-wrapper img:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  outline-offset: 1.5rem solid #3CE2f9;
}

.showcase-about {
  padding: 2rem 0.8rem;
  justify-content: baseline;
}

.showcase-icon {
  font-size: 3rem;
  color: #3CE2f9;
  padding-left: 0.8rem;
}

.services {
  background-color: #dee2e6;
  padding: 8rem 0;
}

/**--------------------------------------------------------------------------------------
                            THE ABOUT PAGE SECTION
---------------------------------------------------------------------------------------------
**/
.intro {
  position: relative;
  height: 19rem;
  background-color: #ced4da;
  overflow-y: hidden;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}
.intro h3 {
  margin: 0;
  display: block;
  background-color: #3CE2f9;
  padding: 1rem;
}
.intro a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.intro a:hover ~ .intro__overlay, .intro a:focus ~ .intro__overlay {
  transform: translate3d(0, 0, 0);
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.intro__overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  transition: transform 300ms;
  background-color: rgba(60, 226, 249, 0.5);
  transform: translate3d(0, calc(100% - 3.5rem), 0);
}

.intro__body {
  padding: 1rem;
}
.intro__body p {
  margin: 0;
}

.about-section {
  height: 100%;
}

.about {
  background-size: cover;
  background-position: center;
  width: 100%;
}
.about .content {
  padding: 1.875rem 1.875rem 1.875rem 0;
}
.about .content__content-img {
  overflow: hidden;
  width: 100%;
}
.about .content__content-img img {
  max-width: 100%;
}
.about .content h3 {
  font-weight: 700;
  font-size: 2.125rem;
  margin-bottom: 1.875rem;
}
.about .content p {
  margin-bottom: 1.875rem;
}
.about .icon-boxes .icon-box {
  margin-top: 1.875rem;
}
.about .icon-boxes .icon-box i {
  font-size: 2.5rem;
  color: #3CE2f9;
}

.client {
  width: 100%;
  height: 100%;
  background: #3CE2f9;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 5rem 0;
  position: relative;
}
.client .quote-icon {
  color: #d0f8fe;
}
.client .quote-icon svg {
  width: 10rem;
  height: 10rem;
}
.client__t-card {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.625rem;
  color: #212529;
  height: auto;
  margin-bottom: 1rem;
  text-align: center;
}
.client__t-card .client-img {
  padding-top: 1rem;
  margin-bottom: 2rem;
  align-items: center !important;
}
.client__t-card .client-img img {
  width: 80px;
  height: 80px;
  border: 3px solid #3CE2f9;
}
.client__t-card .name {
  margin-top: 3rem;
  padding-top: 1rem;
  text-transform: capitalize;
}
.client__t-card .name h4 {
  font-weight: 500;
}

.carousel-icon i {
  font-size: 5rem;
  color: #fff;
}

.carousel-item i {
  color: rgba(33, 37, 41, 0.6);
}

.carousel-indicators {
  margin-bottom: -2rem !important;
}

.footer {
  background-color: #212529;
  color: #fff;
  position: relative;
}
.footer i {
  font-size: 1rem;
}
.footer .contact-box {
  position: relative;
  text-decoration: none;
}
.footer .contact-box .icon {
  padding: 0 0.3rem;
  justify-content: baseline;
}
.footer .contact-box .icon i {
  font-size: 1.5rem;
}
.footer .contact-box .info {
  padding: 0.5rem 1rem;
  align-items: center;
}
.footer .contact-box .info .title {
  text-transform: uppercase;
  font-weight: 600;
  align-items: center;
  font-size: 1rem;
}
.footer .contact-box .info .sub-title {
  font-size: 0.8rem;
  text-transform: capitalize;
}
.footer .footer-center {
  padding: 1rem;
}
.footer .footer-center a {
  color: #fff;
  text-decoration: none;
}
.footer .footer-center a:hover {
  color: #3CE2f9;
}
.footer .footer-sm a {
  color: #3CE2f9;
}
.footer .footer-sm a i {
  font-size: 1.5rem;
  padding-left: 1rem;
}
.footer .footer-sm a i:hover {
  color: #fff;
}

.f-list {
  display: block;
  list-style-type: none;
  position: relative;
}
.f-list > li {
  color: #fff;
  margin-bottom: 0.5rem;
}
.f-list > li a {
  color: #e9ecef;
  transition: all 0.3s ease;
}
.f-list > li a:hover {
  padding-bottom: 4rem;
  color: #3CE2f9;
  transform: skewY(10deg) skewX(5deg) scale(1.1);
  transition: all 0.3s;
}

.footer-bottom {
  background-color: #212529;
}
.footer-bottom__copyright {
  font-size: 1rem;
  color: #ced4da;
}
.footer-bottom__copyright a {
  color: #3CE2f9;
  transition: all 0.3s ease;
  text-decoration: none;
}
.footer-bottom__copyright a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-bottom__legalstuff {
  padding-top: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-bottom__legalstuff {
    text-align: end;
  }
}
.footer-bottom__legalstuff a {
  color: #3CE2f9;
  transition: all 0.3s ease;
  text-decoration: none;
}
.footer-bottom__legalstuff a:hover {
  color: #fff;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
